.alert {
    padding: 20px;
    background-color: #56ab59;
    color: white;
}

.errormsg {
    padding: 20px;
    background-color: #EA5455;
    color: white;
    border-radius: 20px;
}

.icon {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.margin-bottom {
    margin-bottom: 18px!important;
}

.pass {
    font-weight: 500;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
}

.edit-profile {
    border-radius: 10px 10px !important;
}

div.error {
    color: red !important;
    font-size: 11px;
    margin-left: 42px;
}

.error {
    color: red;
}

.button-margin {
    margin-right: 116px;
}

.login-font {
    font-size: 30px;
}

.logo-font {
    font-weight: 600;
    color: #4839ebba;
    margin-left: 61px;
    font-size: 46px;
    margin-bottom: 19px;
}

.bg-buttom {
    background-color: #3b376f !important;
}

.form-actions {
    border-top: 0px solid #DFDFDF !important;
    padding: 20px 0;
    margin-top: 20px;
}